{% extends "base.njk" %}

{% block head %}
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
{% endblock %}

{% block scripts %}
    <script>
        if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", user => {
                if (!user) {
                    window.netlifyIdentity.on("login", () => {
                    document.location.href = "/admin/";
                    });
                }
            });
        }
    </script>
{% endblock %}

{% block main_header %}
    <header class="relative text-white h-screen flex flex-col justify-between text-xl">
        <div class="flex flex-col flex-1 md:flex-none md:flex-row justify-between items-center text-center md:text-left">
            <div class="p-4 md:p-8">
                <p class="text-4xl"><a href="/">{{settings.title}}</a></p>
            </div>
            <nav class="flex flex-col flex-1 justify-center p-4 text-white md:flex-none md:block md:p-8">
                {% for link in settings.nav_links %}
                    <a class="block py-4 text-2xl md:py-2 md:text-xl md:ml-4 border-b border-transparent hover:text-gray-600 md:hover:text-white md:hover:border-white md:inline-block" href="{{link.url}}">{{ link.label }}</a>
                {% endfor %}
            </nav>
        </div>
        <p class="p-4 md:p-8 text-center md:text-right text-xs uppercase font-serif tracking-widest">
            {{settings.tagline}}
        </p>
    </header>
{% endblock %}

{% block main %}
    <main>
        <div class="fixed inset-0 w-full h-screen bg-black" style="z-index: -1">
            <carousel autoplay="true" speed="4000" :images="{{gallery|dump}}" image-classes="fixed left-0 top-0 w-full h-full object-cover"></carousel>
        </div>
    </main>
{% endblock %}

{% block footer %}{% endblock %}